bin
obj
.vs
.vscode
.idea
.angular
/CleanLeague.WebUI/ClientApp/.nx
/docker_images
/KmsSweetShowcase.Server/wwwroot/files
/node_modules
/KmsSweetShowcase.Server/wwwroot/sitemaps
/KmsSweetShowcase.Server/wwwroot/customers/qrcodes
/KmsSweetShowcase.Server/wwwroot/customers/sitemaps
/KmsSweetShowcase.Server/wwwroot/sitemap.xml
/KmsSweetShowcase.Server/telegrambot_userstates.sqlite
/KmsSweetShowcase.Server/telegrambot_userstates.sqlite-shm
/KmsSweetShowcase.Server/telegrambot_userstates.sqlite-wal
/KmsSweetShowcase.Server/sqlite_dbs
